@tailwind utilities;

*,
::after,
::before {
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/box-sizing */
    box-sizing: border-box;
}

@layer utilities {
    .row {
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
    }

    .row-no-margin {
        display: flex;
        flex-wrap: wrap;
    }
}

/* 12 grid bootstrap layout */
.col-1 {
    flex-basis: calc(1 / 12 * 100%);
}

.col-2 {
    flex-basis: calc(2 / 12 * 100%);
}

.col-3 {
    flex-basis: calc(3 / 12 * 100%);
}

.col-4 {
    flex-basis: calc(4 / 12 * 100%);
}

.col-5 {
    flex-basis: calc(5 / 12 * 100%);
}

.col-6 {
    flex-basis: calc(6 / 12 * 100%);
}

.col-7 {
    flex-basis: calc(7 / 12 * 100%);
}

.col-8 {
    flex-basis: calc(8 / 12 * 100%);
}

.col-9 {
    flex-basis: calc(9 / 12 * 100%);
}

.col-10 {
    flex-basis: calc(10 / 12 * 100%);
}

.col-11 {
    flex-basis: calc(11 / 12 * 100%);
}

.col-12 {
    flex-basis: calc(12 / 12 * 100%);
}

.col-auto {
    flex: 1;
}