.center-text {
    @apply text-transparent bg-clip-text font-semibold animate-[background-scale_3s_ease_forwards] cursor-default text-center text-7xl mx-12 my-8 md-lg:text-right md-lg:ml-12 md-lg:mr-6;
    background-clip: 'text';
    -webkit-text-fill-color: 'color';
    -webkit-background-clip: 'background-clip';
}

.center-text:hover {
    @apply scale-[1.01]
}

@keyframes background-scale {
    from {
        background-position: center 25%;
    }

    to {
        background-position: center 50%;
    }
}